@import url(normalize.css);

body {
	color: #fff;
	background-image: linear-gradient(to right, rgb(16, 16, 16, 0.9),  rgba(0, 0, 0, 0.3)), url(../images/background.jpg);
	background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
	font-family: "Helvetica", "Tahoma", "Arial", "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
	letter-spacing: 0.1rem;
}

a {
	color: #fff;
}

img {
	vertical-align: middle;
}

[onclick] {
    cursor: pointer;
}

.loader_mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #1a1a1a;
	z-index: 2;
}

.loader {
	position: fixed;
	top: 50%;
 	left: 50%;
	width: 20vh;
	height: 20vh;
 	margin-top:-10vh;
 	margin-left:-10vh;
	background: url(../images/logo.png);
	background-size: contain;
	z-index: 2;
  	animation: run 2s linear infinite;
}

@keyframes run { 
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

.header {
	width: 100%;
}

.header_fixed {
	position: fixed;
	top: 0;
	width: 100%;
	background: #111;
	transition: all .3s;
	opacity: 0;
	z-index: -1;
}

.menu {
	text-align: center;
}

.menu span {
	display: inline-block;
	padding: 2vh 5vw;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	transition: all .3s;
}

.menu span:hover {
	background: rgba(255, 255, 255, .2);
	border-bottom: 3px solid #fff;
	text-shadow: 1px 1px 5px #ccc;
}

.menu span.active {
	border-bottom: 3px solid #fff;
}

.main {
	width: 70vw;
	margin: 0 auto;
	background: #111;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

.banner h1 {
	width: 100%;
	margin: 0;
	padding: 15vh 0;
	background: linear-gradient(to right, #353535 0%, #8c8b8b 100%);
	text-align: center;
}

.content h1, .content p {
	background: #fff;
	color: #1a1a1a;
	margin: 0;
	padding: 2vh 25vh;
	line-height: 2;
}

.content span, .content a {
	color: #1a1a1a;
}

.content button {
    color: #fff;
    background: #111;
    padding: 5px;
	border: none;
    border-radius: 5px;
    outline: none;
}

.content .title {
	font-weight: bold;
}

.content .detail {
	margin-left: 3.5em;
}

.works {
	width: 90%;
	margin: 1vh auto;
}

.works_img {
	display: inline-block;
	width: 33%;
	height: 30vh;
	background: #777;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.works_img:hover {
	opacity: .5;
	transition: all .3s;
}

.works a {
	color: #111;
}

.works a:nth-child(1) .works_img {
	background-image: url(../images/work01.jpg);
}

.works a:nth-child(2) .works_img {
	background-image: url(../images/work02.jpg);
}

.works a:nth-child(3) .works_img {
	background-image: url(../images/work03.jpg);
}

.works a:nth-child(4) .works_img {
	background-image: url(../images/work04.jpg);
}

.works a:nth-child(5) .works_img {
	background-image: url(../images/work05.jpg);
}

.works a:nth-child(6) .works_img {
	background-image: url(../images/work06.jpg);
}

.footer {
	text-align: center;
	margin: 4vh 0 7vh;
}

.copyright {
	padding: 5px 10px;
}

.totop {
	position: fixed;
	/*bottom: -4vh;*/
	left: 50%;
 	transform: translateX(-50%);
 	padding: 2vh;
	background: #555;
	border-top: 3px solid #fff;
	transition: all .3s;
	cursor: pointer;
}

@media screen and (max-width: 1280px) {

	.main {
		width: 100%;
	}

	.content h1, .content p {
		padding: 2vh 5vh;
		letter-spacing: 0;
	}

	.content .detail {
	    margin-left: 0;
	}

	.works_img {
		width: 100%;
		height: 20vh;
	}

}